*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: black;
}

.navbar{
	background-color:black;
}
.nav-link:hover{
	color: #ffa500;
	font-weight: 900;
}

.nav-item{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: white;
}


.jumbotron{
	background-image: url(../images/bbq1.jpg);
	background-size: cover;
	height: 100vh;
	border-radius: 0;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#landing-about{
	font-family: 'Montserrat', sans-serif;
	color: #f2f2f2;
	font-size: 5em;
	padding-top:30vh;
	letter-spacing: 5px;
	font-weight: bold;
}

.fadeIn{
	animation-delay: 2s;
	animation-duration: 5s;
}

.container{
	background:transparent;
	background-size: cover;
}

.jumbotron-fluid h2{
	font-family: 'Montserrat', sans-serif;
	color: #f2f2f2;
	font-size: 5em;
}

.card-deck{
	font-family: 'Montserrat', sans-serif;
}

.card-title{
	font-weight: bold;
}

#bottom{
	background-image: url(../images/smoker.jpg);
	background-size: cover;
	height: 100vh;
}

#bottom-text{
	padding-top: 20vh;
	font-weight: bold;
}

#footer{
	color: white;
}

#logo{
	height:130px;
	width: 100px;
	filter: invert(100%)
}

.fa-facebook:hover{
	color: #3B5998;
}

.fa-twitter:hover{
	color: #1DA1F2;
}

.fa-google-plus-g:hover{
	color: #DB4437;
}

.fa-pinterest-square:hover{
	color: #BD081C;
}

.fa-instagram:hover{
	color: #262626;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

	#landing-about{
		font-size: 2em;
		padding-top: 30vh;
	}

	#bottom-text{
		font-size: 2em;
		font-weight: bold;
	}

}

/*tablet*/

@media only screen 
and (min-width: 481px) 
and (max-width: 960px)
{
	#landing-about{
		font-size: 3em;
		padding-top: 30vh;
	}

	#bottom-text{
		font-size: 3em;
		font-weight: bold;
	}

	.card-title{
		font-size: 1em;
	font-weight: bold;
	}
}
