*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: black;
}

.navbar{
	background-color:black;
}
.nav-link:hover{
	color: #ffa500;
	font-weight: 900;
}

.nav-item{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: white;
}

#contact-title{
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
}

#contact-head{
	font-family: 'Montserrat', sans-serif;
	font-size: 5em;
}

.contact-p{
	font-family: 'Montserrat', sans-serif;
}

.carousel-item p{
	font-size: 4em;
	font-family: 'Anton', sans-serif;
}

.jumbotron{
	background-color: black;
}

.jumbotron h1, p{
	font-family: 'Montserrat', sans-serif;
}

#footer{
	color: white;
}


.btn{
	font-weight: 700;
	color: white;
}

.btn:hover{
	color: #141414;
	font-weight: 700;
}

.fa-facebook:hover{
	color: #3B5998;
}

.fa-twitter:hover{
	color: #1DA1F2;
}

.fa-google-plus-g:hover{
	color: #DB4437;
}

.fa-pinterest-square:hover{
	color: #BD081C;
}

.fa-instagram:hover{
	color: #262626;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

	#contact-head{
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	text-align: center;
	}

	#contact-title{
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	}
	
	.carousel-item p{
	font-size: 3em;
	font-family: 'Anton', sans-serif;
	}

}

/*tablet*/

@media only screen 
and (min-width: 481px) 
and (max-width: 960px)
{
	#contact-head{
	font-family: 'Montserrat', sans-serif;
	font-size: 5em;
	text-align: center;
	}

	#contact-title{
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	}
	
	.carousel-item p{
	font-size: 4em;
	font-family: 'Anton', sans-serif;
	}
}
