*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/*home*/
.nav-item{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: white;
}

.navbar{
	background-color: black;
}

.nav-link:hover{
	color: #ffa500;
	font-weight: 900;
	text-decoration: none;
}


#landing-button{
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	color: black;
	border:3px solid #ffa500;
}

#landing-button:hover{
	color: #141414;
	font-weight: 700;
}

#jumbotron{
	background-image: url(../images/img1.jpg);
	background-size: cover;
	color: white;
}

.btn{
	font-weight: 700;
}

.carousel-item p{
	font-size: 4em;
	font-family: 'Montserrat', sans-serif;
}



#contact{
	font-weight: 700;
}

#contact:hover{
	color: #141414;
	font-weight: 700;
}

.container-fluid h1{
	font-size: 4em;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}


#bottom-container{
	background-color: white;
	height: 100vh;
	width: 100%;
}


.lead{
	font-family: 'Montserrat', sans-serif;
}


.fa-facebook:hover{
	color: #3B5998;
}

.fa-twitter:hover{
	color: #1DA1F2;
}

.fa-google-plus-g:hover{
	color: #DB4437;
}

.fa-pinterest-square:hover{
	color: #BD081C;
}

.fa-instagram:hover{
	color: #262626;
}


/* mobile*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 960px) {

	.carousel-item p{
	font-size: 2em;
	font-family:  'Montserrat', sans-serif;
	}

	.container-fluid h1{
	font-size: 2em;
	font-family:  'Montserrat', sans-serif;
	font-weight: bold;
	}

	#par-home{
		font-size: 0.8em;
	}

	#homerun{
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	font-weight: bold;
}

}

/*tablet*/

@media only screen 
and (min-width: 481px) 
and (max-width: 960px)
{

	.carousel-item p{
	font-size: 4em;
	font-family:  'Montserrat', sans-serif;
	}

	.container-fluid h1{
	font-size: 2em;
	font-family:  'Montserrat', sans-serif;
	font-weight: bold;
	}

}



