*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url(../images/spice3.jpg);
	/*background-color: black;*/
}

.navbar{
	background-color:black;
}
.nav-link:hover{
	color: #ffa500;
	font-weight: 900;
}

.nav-item{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: white;
}


.jumbotron-fluid h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 5em;
}

.img-thumbnail{
	height: 130px;
	width: 100px;
}


.card-img-top{
	height: 250px;
}

#footer{
	color: white;
}

#logo{
	height:120px;
	width: 100px;
	filter: invert(100%)
}

.card-image-top{
	height: 500px;
	width: 350px;
}
.fa-facebook:hover{
	color: #3B5998;
}

.fa-twitter:hover{
	color: #1DA1F2;
}

.fa-google-plus-g:hover{
	color: #DB4437;
}

.fa-pinterest-square:hover{
	color: #BD081C;
}

.fa-instagram:hover{
	color: #262626;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	.img-thumbnail{
	height: 100px;
	width: 70px;
}

}

/*tablet*/

@media only screen 
and (min-width: 481px) 
and (max-width: 960px)
{

}
