*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: black;
}

.navbar{
	background-color:black;
}
.nav-link:hover{
	color: #ffa500;
	font-weight: 900;
}

.nav-item{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: white;
}


.jumbotron-fluid h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 5em;
	color: white;
}

#footer{
	color: white;
}

#logo{
	height:120px;
	width: 100px;
	filter: invert(100%)
}

.fa-facebook:hover{
	color: #3B5998;
}

.fa-twitter:hover{
	color: #1DA1F2;
}

.fa-google-plus-g:hover{
	color: #DB4437;
}

.fa-pinterest-square:hover{
	color: #BD081C;
}

.fa-instagram:hover{
	color: #262626;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {


}

/*tablet*/

@media only screen 
and (min-width: 481px) 
and (max-width: 960px)
{

}
