*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}


/*landing*/

.jumbotron{
	background-color:rgba(0,0,0,0.5);
	height: 100vh;
	padding-top: 25vh;
	padding-bottom: 25vh;
	margin: 0;
}

.jumbotron h1{
	color: #ffa500;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	font-size: 4em;

}

#jumbotron-landing{
	background-image: url(https://media.giphy.com/media/3og0IQOdw9mu9949NK/giphy.gif);
	background-size: cover;
	margin: 0 auto;
	width: 100%;
}

#landing-button{
	font-weight: 700;
	color: white;
}

#landing-button:hover{
	color: #141414;
	font-weight: 700;
}

a:hover{
	text-decoration: none;
}

#logo{
	width: 200px;
	height: 230px;
	filter: invert(100%);
}

.jumbotron span{
	color: white;
}
/*home*/
.navbar-brand img{
	height:130px;
	width: 100px;
}


/* mobile*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

	.jumbotron h1{
		font-size: 2em;
	}

	#logo{
	width: 100px;
	height: 130px;
	filter: invert(100%);
	margin-left: 34.32%;
	}
}

/*tablet*/

@media only screen 
and (min-width: 481px) 
and (max-width: 960px)
{
	.jumbotron h1{
		font-size: 2em;
	}

	#logo{
	width: 100px;
	height: 130px;
	filter: invert(100%);
	margin-left:42.65%;
	margin-bottom: 8px;
}











