*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/*body{
	background-image: url(https://media.giphy.com/media/5fBH6zvK9bUXN1HKfbW/giphy.gif);
	background-size: cover;
}*/

/*landing*/

.jumbotron{
	background-color:rgba(0,0,0,0.5);
	height: 100vh;
	padding-top: 25vh;
	padding-bottom: 25vh;
	margin: 0;
}

.jumbotron h1{
	color: #ffa500;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	font-size: 4em;

}

#jumbotron-landing{
	background-image: url(https://media.giphy.com/media/xT39D2A6TB8D1Ce79C/giphy.gif);
	background-size: cover;
	margin: 0 auto;
	width: 100%;
}

#landing-button{
	font-weight: 700;
}

#landing-button:hover{
	color: #141414;
	font-weight: 700;
}

#logo{
	width: 200px;
	height: 230px;
	filter: invert(100%);
}

/*home*/
.carousel{
	height: 100%;
}


.section{
	height: 100vh;
	width: 100%;
	background-color: black;

}

.section p{
	margin-top: 50px;
}	



/*mobile*/
@media only screen and (max-width: 420px)
{
	.jumbotron h1{
		font-size: 2em;
	}

	#logo{
	width: 100px;
	height: 130px;
	filter: invert(100%);
	margin-left: 33.32%;
	margin-bottom: 12px;
}

}

/*tablet*/

@media only screen and (min-width: 421px) and 
(max-width: 960px)
{
	.jumbotron h1{
		font-size: 1.25em;
	}

	#logo{
	width: 150px;
	height: 180px;
	filter: invert(100%);
	margin-left:41.65%;
	margin-bottom: 12px;
}

/*custom for galxy s5 landscape*/







